@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neon Dark Mode Background */
body {
  @apply bg-gray-900 text-gray-100 transition-all duration-300;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}
